.admin-dashboard {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20vw 80vw;
  background: #1e1e1e;
  color: white;
  border-radius: 0 !important;
  position: fixed;
}
*::-webkit-scrollbar {
  display: none;
}
.dashboard-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px solid rgb(65, 65, 65);
}
.dashboard-left > img {
  width: 150px;
}

.admin_actions.shadow {
  background: #5e5d5d;
}
.dashboard-left .admin_actions:hover {
  background: #5e5d5d;
}
.dashboard-left .admin_actions {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  cursor: pointer;
}
.dashboard-left .admin_actions img {
  padding: 0 1rem;
}
.dashboard-right {
  padding: 1rem;
}
.add-product {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}
.add-prod-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.add-prod-detail img {
  width: 350px !important;
  height: 10rem;
  display: none;
}

.add-prod-detail > input,
select {
  width: 350px !important;
  margin: 0;
  overflow: hidden;
  border-radius: 8px;
  font-size: 1.2rem;
}
.add-prod-detail > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.add-prod-detail > div:first-child label {
  color: black;
  padding: 6rem;
}
.add-prod-detail > div > input {
  width: 320px !important;
  margin: 0;
}
.add-prod-detail select{
  width: 350px !important;
}
select,
input {
  height: 3rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  outline: none;
  border: none;
}
textarea {
  width: 320px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
}
.add-prod-detail div.price {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}
.add-prod-detail div.price input{
  width: 4rem !important;
  margin: 0;
  
}

.add-prod-detail > div {
  width: 70%;
  border-radius: 8px;
}
.prodRelative {
  position: relative;
}
.prodRelative > span {
  font-size: 2rem;
}
.prodHide {
  display: flex !important;
}
.prod_action {
  display: none;
  position: absolute;
  right: 100%;
  top: -1rem;
  flex-direction: column;
  background: #ffffff;
}
.prod_action > span {
  padding: 0.5rem 1rem;
  width: 111px;
  height: 25px;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
}


@media only screen and (max-width: 1050px) {
  .admin-dashboard {
    grid-template-columns: 100vw;
  }
  .dashboard-left {
    position: absolute;
    background: #1e1e1e;
    width: 40vw;
    min-height: 50vh;
    z-index: 999;
  }
  .admin-dashboard .l-hide {
    left: -100vw;
    transition: left 2s ease-in;
  }
}
